autosave.dat
nnue.save
save.nnue
*.swp
offline-tracker.md
version.dat
convert/
*.class
.metadata/
header.java
.settings/
*.log
pkg/
.idea/
*.iml
deploy-snapshot.sh
target/
.DS_Store
*~
out/
dependency-reduced-pom.xml
pkg/
.directory
